.crypto-info-container {
    background-color: black;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .crypto-info-button:disabled {
    opacity: 0.5;
  }
.crypto-img{
  width: 30px;
  height: 30px;
}