.navbar {
  display: flex;
  position: fixed;
  font-size: 24px;
  width: 100%;
  justify-content: space-between;
  background-color: inherit;
  height: 50px;
  align-items: center;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  padding-right: 5%;
}
.navbar a {
  text-decoration: none;
  margin-right: 30px;
  color: white;
}
.navbar a:hover {
  color: #69539d;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.navbar p {
  padding-left: 20px;
  font-weight: 800;
  background-clip: text;
  background-image: linear-gradient(25deg, #2600fc, #ff00ea);
  color: transparent;
  height: 30px;
}
.scrolled {
  background-color: rgba(0, 0, 0, 0.693);
  z-index: 1;
}
