.navbar{
    display: flex;
    position: fixed;
    font-size: 24px;
    width: 100%;
    justify-content: space-between;
    background-color: black;
    height: 50px;
    align-items: center;
}
.navbar ul{
    list-style-type: none;
    display: flex;
}
.navbar a{
    text-decoration: none;
    margin-right: 20px;
    color: white;
    transition: all 0.3s ease-in-out;
}