.navbar {
  display: flex;
  position: fixed;
  font-size: 24px;
  width: 100%;
  justify-content: space-between;
  background-color: inherit;
  height: 7%;
  align-items: center;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  padding-right: 5%;
}
.navbar a {
  text-decoration: none;
  margin-right: 30px;
  color: white;
}
.navbar a:hover {
  color: #69539d;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.navbar p {
  margin-top: 8%;
  padding-left: 20px;
  font-weight: 800;
  background-clip: text;
  background-image: linear-gradient(25deg, #2600fc, #ff00ea);
  color: transparent;
  height: 10vh;
  z-index: 2;
  font-size: 1.6em;
}
.scrolled {
  background-color: #06184a;
  z-index: 1;
}
@media (max-width: 600px) {
  .navbar ul {
    display: none;
  }
}
